{% extends "layout.html" %}

{% block content%}
        <div class="one-guy-layout">
            <div class="one-guy-pic">
                <img src="/static/img/someguy.jpg", height=200px, style="object-fit: contain;">
            </div>
            <div class="one-guy-name">
                <a href="/">Kaguya Shinomiya</a>
            </div>
        </div>

        <div class="one-guy-layout">
            <div class="one-guy-pic">
                <img src="/static/img/someguy.jpg", height=200px, style="object-fit: contain;">
            </div>
            <div class="one-guy-name">
                <a href="/">Kaguya Shinomiya</a>
            </div>
        </div>
{% endblock %}