{% extends "layout.html" %}

{% block content%}
    {% for project in stream %}
	<div class="project-layout">
        <nav>
            <a href="{{ url_for('view_project', project_id=project.project_id) }}">Overview</a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('view_idea', project_id=project.project_id) }}">Ideas</a>
            <a href="{{ url_for('view_qa', project_id=project.project_id) }}">QA</a>
            <a href="{{ url_for('post') }}" class="new">Create New Project</a>
            {% endif %}
        </nav>
        <div class="project-overview">
            <p> {{ project.description }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}